<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
This is me. My name is Nadia Graca and I am from Switzerland.
I have a brother who was born in 1990.
I have a sister who was born in 1991.
